body{
    background-color: gray;
    
}
.container{
    background-color: antiquewhite;
    height: 300px;
    width: 240px;
    border-radius:10px;  
     position:relative;  
     top:80px;  
     left:40%;
     text-align: center;
} 
.red {
    width: 35px;
    height: 25px;
}